<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagem de Gato - HTMX</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="min-h-screen flex flex-col items-center justify-center p-4">
    <h1 class="text-3xl font-bold mb-6">Gato Aleatório</h1>

    <div id="day-image-container" class="mb-6 flex justify-center">
        <img id="day-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSYzs3nKGVQz9Ah4huAqRWfItaoMIhAIexew&s" alt="Imagem do dia">
    </div>
    <div>
        
    <button
    hx-get="/cat_image" 
    hx-target="#day-image" 
    hx-swap="outerHTML"
    class="btn btn-primary"
    >
    🐱 Gato
    </button>

    <button
    hx-get="/dog_image" 
    hx-target="#day-image" 
    hx-swap="outerHTML"
    class="btn btn-primary"
    >
    🐶 Cachorro
    </button>
    </div>
    <br>
    <div>
        <button
    hx-get="/space_image" 
    hx-target="#day-image" 
    hx-swap="outerHTML"
    class="btn btn-primary"
    >
    👽 Espaço
    </button>

        <button
    hx-get="/pikachu" 
    hx-target="#day-image" 
    hx-swap="outerHTML"
    class="btn btn-primary"
    >
    ⚡ 🐹
    </button>

    </div>
</body>
</html>